Package: traffic-limiter
Version: 1.0
Section: utils
Priority: optional
Architecture: amd64
Depends: python3, python3-gi, iproute2, policykit-1
Maintainer: The66Monkey
Description: A TC Bandwidth Limiter built with GTK.
 This application lets you set traffic control limits on your network
 interfaces using tc (traffic control) rules. It is built with Python and GTK.
